@keyframes up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein {
  0% {
    background: rgba(#efefef, 0);
  }
  100% {
    background: rgba(#efefef, 1);
  }
}
@keyframes right {
  0% {
    transform: translateX(5000px);
  }
  100% {
    transform: translateX(0);
  }
}
