@media screen and (max-width: 1800px) {
  .info {
    padding: 20px 40px;
  }
  .info .introduction {
    flex-direction: column;
  }
  .info .introduction .hello {
    width: 100%;
    padding: 30px 3px;
  }
  .info .skill ul li {
    width: 40px;
    padding: 5px;
  }
}
@media screen and (max-width: 1200px) {
  .wrap {
    display: block;
  }
  .scrollani {
    display: none;
  }
  .btnbox {
    bottom: auto;
    border-radius: 0 0 0 5px;
    top: 60px;
  }
  .intro p {
    font-size: 32px;
  }

  .header {
    height: 60px;
    width: 100%;
    flex-direction: row;
    padding: 10px 20px;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 10%);
    position: sticky;
  }
  .header .hamberger {
    padding: 8px 0;
  }
  .header .logo {
    transform: rotate(0) translateX(50%);
    margin-bottom: 0;
  }
  .header .logo h3 {
    font-size: 16px;
  }
  .header .email {
    transform: rotate(0);
    position: static;
  }
  .info {
    width: 40%;
    padding: 20px 30px;
  }
  .work-veiw {
    width: 60%;
  }
  .work-veiw .work-list .work {
    height: 85%;
    width: 450px;
  }
  .work-veiw .work-list .work .work-subject {
    padding: 60px 30px;
  }
  .work-veiw .work-list .work .work-subject .cata {
    position: static;
    margin: 0 auto 10px;
  }
  .work-veiw .work-list .work .work-subject em {
    text-align: center;
  }
  .work-veiw .work-list .work .work-subject b {
    text-align: center;
    font-size: 16px;
  }
  .work-veiw .work-list .work .work-subject h4 {
    text-align: center;
    font-size: 45px;
  }
  .work-veiw .work-list .work .work-subject .skilltoll {
    margin: 20px auto auto;
  }
  .info .skill ul li {
    width: 40px;
    padding: 5px;
  }
  .work-veiw .work-list .work .work-link {
    position: static;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .btnbox {
    position: static;
    width: 100%;
    border-radius: 0;
    padding: 10px 20px;
  }
  .btnbox p {
    text-align: start;
    padding: 10px 0 5px;
  }
  .wrap {
    height: auto;
  }
  .home {
    height: auto;
    display: block;
    overflow: hidden;
  }
  .hide-nav ul {
    max-width: 423px;
  }
  .hide-nav ul li a {
    font-size: 56px;
  }
  /* .home {
    flex-direction: column;
    overflow: scroll;
  } */
  .header .logo {
    transform: translateX(32%);
  }
  .header .email {
    font-size: 9px;
  }
  .info {
    width: 100%;
    padding: 30px;
    /* height: 100vh; */
  }
  .info .introduction {
    flex-direction: row;
  }
  .info .introduction .faceani {
    margin-right: 15px;
  }
  .info .introduction .face-hello {
    animation: face-hello 6s 3000;
  }
  .info .introduction .hello {
    width: 65%;
  }
  .info .skill ul li {
    width: 30px;
    padding: 2px;
  }
  .work-veiw {
    width: 100%;
  }
  .work-veiw .work-list {
    flex-direction: column;
    position: static;
    width: 100%;
    transform: translateX(0);
  }
  .work-veiw .work-list .work {
    width: 100%;
    height: 300px;
    margin: 0;
  }
  .work-veiw .work-list .work .over {
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
  }
  .work-veiw .work-list .work:nth-child(odd) img {
    border-radius: 0;
  }
  .work-veiw .work-list .work:nth-child(even) img {
    border-radius: 0;
  }
  .work-veiw .work-list .work:nth-child(odd) {
    border-radius: 0;
  }
  .work-veiw .work-list .work:nth-child(even) {
    border-radius: 0;
    margin: 0;
  }
  .work-veiw .work-list .work .work-subject {
    padding: 60px 30px;
    justify-content: space-around;
  }
  .work-veiw .work-list .work .work-subject em {
    display: none;
  }
  .work-veiw .work-list .work .work-subject .skilltoll {
    margin: 0 auto;
  }
  .work-veiw .work-list .work .work-link a {
    border: 2px solid #fff;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 9px;
    border-radius: 15px;
    width: auto;
  }
  .work-veiw .work-list .work .work-link a:nth-child(1) {
    margin-top: 12px;
  }
}
@media screen and (max-width: 500px) {
  .hide-nav ul {
    max-width: 250px;
  }
  .hide-nav ul li a {
    font-size: 36px;
  }
  .hide-nav .in-ul {
    margin-left: 36px;
  }
  .intro p {
    font-size: 21px;
  }
  .header .email {
    display: none;
  }
  .header .logo {
    font-size: 14px;
    transform: translateX(0%);
  }
  .info .introduction {
    flex-direction: column;
  }
  .info .introduction .hello {
    width: 100%;
    padding: 30px 3px;
  }
  .work-veiw .work-list .work .work-subject .cata {
    width: 60px;
    padding: 3px 5px;
    font-size: 7px;
  }
  .work-veiw .work-list .work .work-subject {
    justify-content: center;
  }
  .work-veiw .work-list .work .work-subject b {
    font-size: 12px;
  }
  .work-veiw .work-list .work .work-subject h4 {
    font-size: 32px;
  }
  .work-veiw .work-list .work .work-subject .skilltoll li {
    width: 20px;
    height: 20px;
    margin: 0 6px;
  }
}
