* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #333;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}

@font-face {
  font-family: "Neutral Face";
  src: url("/MY-P/font/NeutralFace.otf") format("opentype");
}

input,
button,
textarea {
  outline: 0;
  border-radius: 0;
  border: 0;
  color: #777;
  /* font-family: "Nanum Myeongjo", serif;
  font-family: "Noto Sans KR", sans-serif; */
  font-family: Neutral Face, sans-serif;

  font-size: 14px;
}
textarea {
  resize: none;
}

img {
  display: block;
}
em {
  font-style: normal;
}
b {
  font-weight: normal;
}
/* setting reset Layout Style */
.center {
  width: 100%;
  margin: auto;
  max-width: 1440px;
  height: auto;
}

.wrap {
  width: 100%;
  height: auto;
  overflow: hidden;
}

body {
  font-size: 14px;
  /* font-family: "Cormorant Garamond", serif; */
  font-family: Neutral Face, sans-serif;
  letter-spacing: 1px;

  /* 
  font-family: "Nanum Myeongjo", serif;
  font-family: "Noto Sans KR", sans-serif; */
}
