.wrap {
  display: flex;
  overflow: hidden;
  height: 100vh;
  background: #efefef;
}

.blind {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}

/*intro css code */
.intro {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  -webkit-animation: fadeout 1 1s;
          animation: fadeout 1 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.intro.started {
  display: none;
}
.intro p {
  font-size: 50px;
  line-height: 1.5;
  opacity: 0;
  -webkit-animation: up 1 1.2s;
          animation: up 1 1.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.intro p:nth-child(1) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.intro p:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.intro p:nth-child(3) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.wrap-work .header {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  transform: translateX(0);
  flex-direction: row;
  -webkit-animation: none;
          animation: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.wrap-work .header.sticky {
  position: fixed;
  height: 45px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.wrap-work .header:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
.wrap-work .header .hamberger {
  padding-top: 10px;
}
.wrap-work .header .logo {
  transform: rotate(0) translateX(55px);
  margin: 0;
}
.wrap-work .header .logo:hover {
  -webkit-animation: none;
          animation: none;
}
.wrap-work .header .email {
  transform: rotate(0);
  position: static;
}

.wrap-work .hide-nav ul {
  height: auto;
  padding-top: 40px;
}

.header {
  width: 60px;
  height: 100vh;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  background: #fff;
  transform: translateX(5000px);
  -webkit-animation: right 1 3s;
          animation: right 1 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  color: #000;
}
.header.sticky {
  position: fixed;
}
.header.start {
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}
.header .hamberger {
  width: 30px;
  height: 30px;
}
.header .hamberger:hover span:nth-child(1) {
  width: 100%;
}
.header .hamberger.on span:nth-child(1) {
  width: 100%;
  transform: rotate(45deg) translate(5px, 5px);
}
.header .hamberger.on span:nth-child(2) {
  transform: rotate(-45deg);
}
.header .hamberger span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  transition: all 0.4s;
}
.header .hamberger span:nth-child(1) {
  margin-bottom: 5px;
  width: 65%;
}
.header .logo {
  transform: rotate(-90deg);
  border: 1px solid #000;
  padding: 5px 20px;
  border-radius: 50%;
  margin-bottom: 70px;
  cursor: pointer;
  transition: all 0.3s;
}
.header .logo h3 {
  font-size: 14px;
}
.header .logo:hover {
  -webkit-animation: rota90 0.4s 1;
          animation: rota90 0.4s 1;
}
.header .logo img {
  display: none;
}
.header .email {
  position: relative;
  transform: rotate(-90deg);
  bottom: 80px;
  transition: all 0.3s;
}
.header .email a {
  transition: all 0.3s ease-out;
  color: #000;
  font-size: 12px;
}
.header .email:hover {
  -webkit-animation: rota90 0.4s 1;
          animation: rota90 0.4s 1;
}

.hide-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99;
  display: none;
  background: rgba(255, 255, 255, 0.9);
}
.hide-nav.on {
  display: block;
}
.hide-nav .in-ul {
  margin-left: 142px;
}
.hide-nav ul {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  transition: all 0.4s;
}
.hide-nav ul li a {
  font-size: 70px;
  line-height: 1.8;
  color: #000;
  transition: all 0.1s ease-out;
}
.hide-nav ul li a:hover {
  color: #ffa646;
}

/*header css code */
.home {
  width: 100%;
  display: flex;
  transition: all 1s;
  overflow: scroll;
  scroll-behavior: smooth;
  height: inherit;
}
.home::-webkit-scrollbar {
  display: none;
}

.info {
  width: 30%;
  height: auto;
  padding: 60px 60px;
  background: #fff;
  position: relative;
  transition: all 0.4s;
  color: #000;
  transform: translateX(1000%);
  -webkit-animation: right 1 3s;
          animation: right 1 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.info.start {
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}
.info > div {
  margin-bottom: 20px;
}
.info .introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info .introduction .faceani {
  position: relative;
  margin: 10px 10px 0 0;
}
.info .introduction .face-hello {
  width: 200px;
  height: 200px;
  position: absolute;
  background: url(/MY-P/img/messeg.svg) no-repeat center center;
  left: -15px;
  top: -15px;
  opacity: 0;
  transition: all 0.3s;
}
.info .introduction .face-hello.on {
  -webkit-animation: face-hello 6s 1;
          animation: face-hello 6s 1;
}
.info .introduction .face {
  width: 170px;
  height: 170px;
  padding: 0 10px;
  border-radius: 50%;
  overflow: hidden;
  background: #000;
  isolation: isolate;
}
.info .introduction .face img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.info .introduction .face video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  transform: translate(6px, 7px);
  position: relative;
}
.info .introduction .hello {
  width: 60%;
  padding: 30px 0px 30px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.info .introduction .hello .aboutme {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.info .introduction .hello .aboutme .about-tit {
  padding: 10px 3px 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #777;
}
.info .introduction .hello .aboutme .about-tit h4 {
  font-size: 14px;
}
.info .introduction .hello .aboutme .about-tit i {
  font-size: 20px;
  padding: 0 2px;
  transition: all 0.3s ease-out;
  color: #000;
}
.info .introduction .hello .aboutme .about-tit i:hover {
  color: #ffa646;
}
.info .introduction .hello .aboutme .contack {
  padding: 10px 3px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.info .introduction .hello .aboutme .contack span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 1.5;
  padding: 3px 0;
  color: #777;
}
.info .introduction .hello .aboutme .contack span a {
  color: #777;
}
.info .introduction .hello .aboutme .golink {
  padding: 10px 3px;
  border-bottom: 1px solid #ddd;
}
.info .introduction .hello .aboutme .golink a {
  color: #777;
}
.info .introduction .hello .aboutme .golink .aboutlink {
  width: 100%;
  padding: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 12px;
  transition: all 0.3s ease-out;
  font-size: 12px;
}
.info .introduction .hello .aboutme .golink .aboutlink:hover {
  color: #ffa646;
}
.info .introduction .hello .aboutme .golink .aboutlink:hover::before {
  width: 55%;
}
.info .introduction .hello .aboutme .golink .aboutlink::before {
  width: 0%;
  height: 1px;
  transition: all 0.3s;
  content: "";
  position: absolute;
  background: #ddd;
  left: 35%;
  bottom: 50%;
}
.info .introduction .hello .aboutme .golink .aboutlink i {
  color: #777;
  font-size: 24px;
}
.info .imymemine {
  font-size: 19px;
  padding-bottom: 60px;
}
.info .imymemine li {
  border-bottom: 1px solid #ddd;
  padding: 15px 0 5px;
}
.info .skill {
  font-size: 14px;
}
.info .skill b {
  border-bottom: 1px solid #333;
  width: 100%;
  padding: 0 0 3px;
  margin: 0 0 10px;
  display: block;
  color: #333;
}
.info .skill > div {
  border-bottom: 1px solid #ddd;
  padding: 20px 0 15px;
  margin: 0 0 10px;
}
.info .skill em {
  font-size: 12px;
  color: #777;
  margin-left: 8px;
}
.info .skill ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px 0;
}
.info .skill ul li {
  width: 60px;
  padding: 10px;
  margin: 5px;
  border: 1px solid #efefef;
  border-radius: 20px;
  transition: all 0.4s;
  background: #efefef;
}
.info .skill ul li:hover {
  border: 1px solid #ffa646;
}
.info .skill ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.info .skill ul li p {
  font-size: 10px;
  text-align: center;
}

.work-veiw {
  width: 70%;
  height: auto;
  overflow: visible;
  transition: all 0.4s;
  position: relative;
  background: #efefef;
  -webkit-animation: right 1 3s;
          animation: right 1 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  transform: translateX(1000%);
}
.work-veiw.start {
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}

.work-list {
  position: absolute;
  display: flex;
  height: 100%;
  transition: all 0.4s;
  overflow: hidden;
}
.work-list .work {
  width: 600px;
  height: 100%;
  margin: 0;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 0.4s;
}
.work-list .work:nth-child(1) {
  margin: 0 100px 0 70px;
}
.work-list .work:nth-child(even) {
  margin: auto 0 0 0;
}
.work-list .work .over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  opacity: 1;
  transition: all 0.4s;
}
.work-list .work .tag {
  position: absolute;
  top: 120px;
  right: -130px;
  transform: rotate(90deg);
  color: #9e9e9e;
  display: block;
  width: 800px;
  height: 600px;
}
.work-list .work .work-subject {
  width: 100%;
  height: 100%;
  padding: 60px;
  position: absolute;
  color: #fff;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}
.work-list .work .work-subject .cata {
  width: 90px;
  padding: 5px 3px;
  background: rgba(255, 255, 255, 0.7);
  color: #333;
  font-size: 12px;
  font-family: Georgia, Neutral Face, sans-serif;
  font-style: italic;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  right: 60px;
  text-shadow: none;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.work-list .work .work-subject .skilltoll {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
  border-radius: 20px;
  background: #333;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.work-list .work .work-subject .skilltoll li {
  width: 25px;
  height: 25px;
  margin: 0 8px;
}
.work-list .work .work-subject .skilltoll li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.work-list .work .work-subject em {
  font-size: 60px;
  font-family: "Poiret One", cursive;
  margin: -9px 0 20px;
}
.work-list .work .work-subject h4 {
  margin: 14px 0 9px;
  font-size: 65px;
}
.work-list .work .work-subject p {
  font-size: 14px;
  line-height: 1.7;
}
.work-list .work .work-link {
  position: absolute;
  bottom: 60px;
  right: 50px;
  display: flex;
  flex-direction: column;
}
.work-list .work .work-link a {
  width: 200px;
  padding: 20px;
  margin: 0 0 10px;
  font-size: 14px;
  text-shadow: none;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #fff;
  line-height: 0.8;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 0.8s;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.work-list .work .work-link a::after {
  width: 15%;
  height: 100%;
  transition: all 0.8s;
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: -50px;
  background: #fff;
  transform: skewX(-20deg);
  opacity: 0;
}
.work-list .work .work-link a:hover {
  border: 1px solid #ffa646;
}
.work-list .work .work-link a:hover::after {
  left: 250px;
  opacity: 1;
}
.work-list .work img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s;
}
.work-list .end-page {
  width: 850px;
  height: auto;
  margin: auto;
  padding: 0 200px;
  font-size: 24px;
  text-align: center;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-list .end-page p {
  color: #777;
}
.work-list .end-page button {
  width: 200px;
  padding: 20px;
  margin: 35px 0 10px;
  font-size: 14px;
  text-shadow: none;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #fff;
  line-height: 0.8;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 0.8s;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.work-list .end-page button::after {
  width: 15%;
  height: 100%;
  transition: all 0.8s;
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: -50px;
  background: #fff;
  transform: skewX(-20deg);
  opacity: 0;
}
.work-list .end-page button:hover {
  border: 1px solid #ffa646;
}
.work-list .end-page button:hover::after {
  left: 250px;
  opacity: 1;
}

.remove {
  display: none;
}

.btnbox {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px 0 0 0;
  padding: 5px 10px 10px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  transform: translateX(1000%);
  -webkit-animation: right 1 3s;
          animation: right 1 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.btnbox.start {
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}
.btnbox p {
  text-align: center;
  margin-bottom: 5px;
  color: #333;
  font-size: 10px;
}
.btnbox button {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 3px;
  transition: all 0.3s;
  font-size: 10px;
}
.btnbox button:hover {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.btnbox button.active {
  color: #ffa646;
  background: rgba(255, 255, 255, 0.8);
}

#scrolldown > path {
  -webkit-animation: ease-in scrolldown 6.8s;
  animation: ease-in scrolldown 6.8s;
  fill: transparent;
  stroke: #777;
  stroke-dasharray: 300;
  stroke-width: 1px;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  stroke-linecap: round;
}

.scrollani {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 8px;
  right: 60px;
  -webkit-animation: scrollani 6s;
  animation: scrollani 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  z-index: 9999;
  transition: all 0.4s;
}

.scrollani p {
  font-size: 6px;
  text-align: center;
  transform: translateY(-11px);
  letter-spacing: 4px;
  line-height: 1.5;
  color: #777;
}

main h3 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 200px 0 20px;
  font-size: 60px;
  color: #16352a;
  border-bottom: 2px solid #16352a;
}
main .nav-center {
  max-width: 1000px;
  margin: 0 auto;
}
main .nav-center.sticky {
  position: fixed;
  max-width: none;
  width: 100%;
  background: #fff;
  top: 45px;
}
main .nav-center.sticky nav {
  padding: 0;
  justify-content: center;
}
main .nav-center.sticky nav a {
  width: 300px;
  box-shadow: none;
  color: #7d7d7d;
}
main .nav-center.sticky nav a:hover {
  padding: 30px 0;
  color: #ffa646;
}
main nav {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 90px;
}
main nav a {
  display: block;
  width: 30%;
  height: auto;
  padding: 18px 0 15px;
  text-align: center;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1);
  color: #777;
  font-size: 24px;
  transition: all 0.3s;
}
main nav a:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  color: #ffa646;
}

.gallery {
  padding-bottom: 300px;
}
.gallery .artwork {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.gallery .artwork .card {
  width: 33.33%;
}
.gallery .artwork .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  height: 400px;
  width: 100%;
}