$animation: ease-in;
$animation-header: 0.4;
$animation-info: 0.6;
$animation-workVeiw: 0.9;

$animation-start: 2.2s;

//text color
$main-color: #000;
$sub-bold: #333;
$sub-middle: #777;
$sub-light: #ddd;

$hover-color: #ffa646;
$back-color: #efefef;
$con-color: #fff;
$con-font-color: #fff;
$btn-back-color: rgba(#000, 0.2);

$button-color: #fff;
$button-effect: #fff;
$button-hover-color: $hover-color;

//border-line color
$border-main: $sub-middle;
$border-sub-bold: $sub-bold;
$border-sub-middle: $sub-middle;
$border-sub-light: $sub-light;

//shadow color
$shadow: rgba(0, 0, 0, 0.2);

@mixin flex($jc: space-between, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
@mixin size($w: null, $h: null, $p: null, $m: null) {
  width: $w;
  height: $h;
  padding: $p;
  margin: $m;
}
@mixin img($fit: cover) {
  width: 100%;
  height: 100%;
  object-fit: $fit;
}

.wrap {
  display: flex;
  overflow: hidden;
  height: 100vh;
  background: $back-color;
  // background: #fff;
}
.blind {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}
/*intro css code */
.intro {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation: fadeout 1 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  &.started {
    display: none;
  }
  p {
    font-size: 50px;
    line-height: 1.5;
    font-weight: thin;
    opacity: 0;
    animation: up 1 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    &:nth-child(1) {
      animation-delay: 0.3s;
    }
    &:nth-child(2) {
      animation-delay: 0.6s;
    }
    &:nth-child(3) {
      animation-delay: 0.9s;
    }
  }
}

@import "header";

/*header css code */

.home {
  width: 100%;
  display: flex;
  transition: all 1s;
  overflow: scroll;
  scroll-behavior: smooth;
  height: inherit;
  // background: #efefef;
  &::-webkit-scrollbar {
    display: none;
  }
}
@import "info";
@import "work-veiw.scss";

.remove {
  display: none;
}

.btnbox {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px 0 0 0;
  padding: 5px 10px 10px;
  backdrop-filter: blur(1px);

  transform: translateX(1000%);
  animation: right 1 3s;
  animation-fill-mode: forwards;
  animation-delay: $animation-workVeiw + s;
  &.start {
    animation-timing-function: $animation;
    animation-delay: $animation-workVeiw + $animation-start;
  }
  p {
    text-align: center;
    margin-bottom: 5px;
    color: $sub-bold;
    font-size: 10px;
  }
  button {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 3px;
    transition: all 0.3s;
    font-size: 10px;

    &:hover {
      box-shadow: inset 0 0 3px $shadow;
    }
    &.active {
      color: $hover-color;
      background: rgba(#fff, 0.8);
    }
  }
}

#scrolldown > path {
  -webkit-animation: ease-in scrolldown 6.8s;
  animation: ease-in scrolldown 6.8s;
  fill: transparent;
  stroke: $sub-middle;
  stroke-dasharray: 300;
  stroke-width: 1px;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  stroke-linecap: round;
}

.scrollani {
  @include size($w: 120px, $h: 120px);
  position: absolute;
  top: 8px;
  right: 60px;
  -webkit-animation: scrollani 6s;
  animation: scrollani 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  z-index: 9999;
  transition: all 0.4s;
}
.scrollani p {
  font-size: 6px;
  text-align: center;
  transform: translateY(-11px);
  letter-spacing: 4px;
  line-height: 1.5;
  color: $sub-middle;
}
